<web-app>

  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>false</param-value>
  </context-param>

  <servlet>
    <servlet-name>MySampleVaadinApplication</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>com.vaadin.polymer.demo.DemoUI</param-value>
    </init-param>
    <init-param>
      <param-name>widgetset</param-name>
      <param-value>com.vaadin.polymer.demo.DemoWidgetset</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>MySampleVaadinApplication</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
